
      p{
       margin-top: 0;
       margin-bottom: 0;
       font-family:Arial;
      }
      .a{
       font-family:Tahoma;
       font-weight:bold;
       font-size:30px;
       margin-bottom:25px;
      }
      .b{
       font-weight:bold;
       font-size:30px;
       margin-bottom:3px;
      }
      .c{
       font-style:italic;
       font-size:30px;
       color:rgb(220, 70, 70);
       font-size:25px;
       margin-bottom:25px;
      }
      .html{
       font-family:verdana;
       font-weight:bold;
       font-size:30px;
       margin-bottom:5px;
      }.bp{
       font-size:30px;
       color:grey;
       font-size:25px;
       margin-bottom:15px;
       font-family:verdana;
      }
      .description{
       font-size:25px;
       width:500px;
       margin-bottom:15px;
       font-family:verdana;
      }
      .start-button{
         background-color:green;
         color:white;
         border:none;
         padding-right:16px;
         padding-left:16px;
         padding-top:10px;
         padding-bottom:10px;
         border-radius:3px;
         cursor:pointer;
         font-weight:bold;
         font-size:23px;
         margin-right:8px;
         transition:background-color 0.15s,color 0.15s;
         margin-bottom:25px;
         font-family:verdana;
       }
       .start-button:hover{
         background-color:blueviolet;
         color:black;
       }
       .start-button:active{
         opacity:0.7;
       }
       .shop{
       font-weight:bold;
       font-size:30px;
       margin-bottom:20px;
       text-align:center;
      }
      .matter{
       font-size:15pspx;
       margin-bottom:20px;
       text-align:center;
      }
      .learn{
       font-size:15px;
       margin-bottom:20px;
       text-align:center;
       color:blue;
       margin-bottom:30px;
      }
      .learn:hover{
       text-decoration:underline;
       cursor:pointer;
      }
      .new{
       font-size:10px;
       margin-bottom:20px;
       text-align:center;
       color:red;
       margin-bottom:5px;
      }
      .buy{
         background-color:rgb(37, 37, 216);
         color:white;
         border:none;
         padding-right:16px;
         padding-left:16px;
         padding-top:10px;
         padding-bottom:10px;
         border-radius:38px;
         cursor:pointer;
         font-weight:bold;
         font-size:15px;
         transition:box-shadow 0.15s;
         margin-left:730px;
         margin-bottom:40px;
       }
       .buy:hover{
         box-shadow:5px 5px 10px rgba(0,0,0,0.15);
       }
       .buy:active{
         opacity:0.7;
       }
       .mac{
       font-weight:bold;
       font-size:22px;
       margin-bottom:5px;
       text-align:center;
      }
      .super{
       font-weight:bold;
       font-size:30px;
       margin-bottom:5px;
       text-align:center;
      }
      .dollar{
       font-weight:bold;
       font-size:20px;
       margin-bottom:5px;
       text-align:center;
      }
      .num{
       font-size:30px;
       margin-bottom:5px;
      }
      .t{
       font-size: 20;
       margin-bottom:5px;
      }
      .sym{
       color:green;
       margin-bottom:5px;
      }
      .r{
       color:red;
       margin-bottom:5px;
      }